body,
dd,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
ul {
    margin: 0
}

.main-content {
    padding: 40px 0 0;
}

.content-left {
    margin-top: 50px;
}

.database-group {
    display: block;
}

.database-title {
    width: 100%;
    border: 1px solid #ebebeb;
    background: #fff;
    height: 40px;
    line-height: 40px;
    /* padding: 0 26px; */
}

.s1 {
    line-height: 40px;
    width: 70px;
    margin-right: 146px;
    text-align: center;
}

.database-title>span {
    display: inline-block;
    vertical-align: middle;
    height: 38px;
    line-height: 38px;
}

.s2 {
    line-height: 40px;
    width: 134px;
    text-align: center;
    position: relative;
    padding-left: 0;
}

span>a {
    color: black;
    font-size: 14px;
}

.tips {
    color: #deb762;
    font-size: 12px;
    font-weight: 400;
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 50%;
    border: 1px solid #deb762;
    position: absolute;
    top: 50%;
    right: 20px;
    margin: -8px 0 0;
}

.database-list {
    width: 100%;
    list-style-type: none;
}

.database-list li {
    height: 58px;
    line-height: 58px;
    /* padding: 0 26px; */
    border-bottom: 1px solid #ebebeb;
}

.txt1 {
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 14px;
    width: 70px;
    margin-right: 146px;
    text-align: center;
    line-height: 58px;
    margin-top: 0;
    padding-left: 0;
}

.txt2 {
    display: inline-block;
    vertical-align: middle;
    color: black;
    font-size: 14px;
    width: 134px;
    text-align: center;
    position: relative;
    margin-top: 0;
    padding-left: 0;
    line-height: 58px;
}

.group-sort a {
    height: 60px;
    line-height: 60px;
    color: black;
    font-size: 18px;
    position: relative;
    display: block;
    text-decoration: none;
}

.group-right {
    display: inline-block;
    vertical-align: top;
    width: 940px;
    margin-left: 30px
}

.database-title {
    border: 1px solid #ebebeb;
    background: #fff;
    height: 40px;
    line-height: 40px;
    padding: 0 26px
}

.group-sort {
    margin-top: 58px
}

.group-right {
    display: inline-block;
    vertical-align: top;
    width: 940px;
    margin-left: 30px
}
.desc {
    margin: 26px 0 0;
}
.desc>p {
    color: #888;
    font-size: 14px;
    margin-bottom: 10px;
}
.desc .num {
    color: #deb762;
    font-size: 12px;
    font-weight: 400;
    display: inline-block;
    vertical-align: 0;
    width: 16px;
    height: 16px;
    line-height: 14px;
    border-radius: 50%;
    border: 1px solid #deb762;
    margin-right: 5px;
    text-align: center;
}